In [34]:
import numpy as np
import pandas as pd

In [35]:
df = pd.read_csv('spam.csv', encoding = "ISO-8859-1")

In [36]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1027,ham,Are you not around or just still asleep? :V,NaN,NaN,NaN
197,ham,is your hamster dead? Hey so tmr i meet you at...,NaN,NaN,NaN
4659,ham,You call him and tell now infront of them. Cal...,NaN,NaN,NaN
1586,ham,There are no other charges after transfer char...,NaN,NaN,NaN
4116,ham,Sure thing big man. i have hockey elections at...,NaN,NaN,NaN

In [37]:
df.shape

(5572, 5)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [39]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [40]:
df.rename(columns={'v1':'target','v2':'text'},inplace=True)
df.sample(5)

     target                                               text
434     ham  You available now? I'm like right around hills...
1444    ham                          Those ducking chinchillas
4839   spam  PRIVATE! Your 2003 Account Statement for shows...
727     ham    Alright omw, gotta change my order to a half8th
5432    ham                             Thanx a lot 4 ur help!

In [41]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['target'] = encoder.fit_transform(df['target'])

In [42]:
df = df.drop_duplicates(keep='first')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5169 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  5169 non-null   int32
 1   text    5169 non-null   object
dtypes: int32(1), object(1)
memory usage: 101.0+ KB

In [44]:
import nltk
print(nltk.__version__)
nltk.download('punkt')
nltk.download('stopwords')

3.8.1

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [45]:
from nltk.corpus import stopwords
import string
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [46]:
def transform_text(text): 
    text = text.lower() # chuyển thành chữ thường
    text = nltk.word_tokenize(text) # chia text thành mảng các từ riêng lẻ
    
    y = []
    for i in text:
        if i.isalnum(): # kiểm tra từ chỉ bao gồm chữ và số
            y.append(i)
    
    text = y[:] # copy y to text
    y.clear()
    
    for i in text:
        if i not in stopwords.words('english') and i not in string.punctuation: # kiểm tra xem từ không phải là từ dừng và dấu câu
            y.append(i)
            
    text = y[:]
    y.clear()
    for i in text:
        y.append(ps.stem(i)) # cắt giảm từ trở về dạng gốc
            
    return " ".join(y)

In [47]:
transform_text('Whoever has money, please donate to me')

'whoever money pleas donat'

In [48]:
df['transformed_text'] = df['text'].apply(transform_text)

In [49]:
df.head()

,target,text,transformed_text
0,0,"Go until jurong point, crazy.. Available only ...",go jurong point crazi avail bugi n great world...
1,0,Ok lar... Joking wif u oni...,ok lar joke wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entri 2 wkli comp win fa cup final tkt 21...
3,0,U dun say so early hor... U c already then say...,u dun say earli hor u c alreadi say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah think goe usf live around though

In [50]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import GridSearchCV
cv = CountVectorizer()   #Vector hóa văn bản
tfidf = TfidfVectorizer(max_features = 3000) # chuyển đổi văn bản thành vectơ TF-IDF giữ lại 3000 đặc trưng

In [51]:
X = tfidf.fit_transform(df['transformed_text']).toarray() # chuyển đổi cột 'transformed_text' thành ma trận các vectơ TF-IDF
X.shape

(5169, 3000)

In [52]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X) # chuẩn hóa ma trận về khoảng giá trị [0, 1]
X.shape

(5169, 3000)

In [53]:
y = df['target'].values

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, classification_report, roc_curve, auc, precision_recall_curve
import matplotlib.pyplot as plt
import seaborn as sns
from plotly.subplots import make_subplots

# Cross Validation - Leave One Out

In [55]:
from sklearn.model_selection import KFold, LeaveOneOut
from sklearn.model_selection import cross_val_score
loo = LeaveOneOut()

In [56]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=2)
scores = cross_val_score(knn, X, y, cv=loo, scoring='accuracy')

In [57]:
print(scores)
print("Mean accuracy:", scores.mean())

[1. 1. 0. ... 1. 1. 1.]
Mean accuracy: 0.922422131940414

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(max_depth=20)
scores = cross_val_score(dtc, X, y, cv=loo, scoring='accuracy')

In [ ]:
print(scores)
print("Mean accuracy:", scores.mean())

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)
scores = cross_val_score(dtc, X, y, cv=loo, scoring='accuracy')

In [ ]:
print(scores)
print("Mean accuracy:", scores.mean())

In [ ]:
from sklearn.svm import SVC
svc = SVC(kernel='sigmoid')
scores = cross_val_score(svc, X, y, cv=loo, scoring='accuracy')

In [ ]:
print(scores)
print("Mean accuracy:", scores.mean())